{% extends "account/base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Signup" %}{% endblock %}

{% block inner %}
<h1>{% trans "Sign Up" %}</h1>

<p>{% blocktrans %}Already have an account? Then please <a href="">sign in</a>.{% endblocktrans %}</p>

{% if form.errors %}
<div class="alert alert-danger" role="alert">
  {% for dict in form.errors.values %}
  {{dict}}
{% endfor %}
</div>
{% endif %}


<form method="post">
  {% csrf_token %}
  <div class="row">
    <div class="col-md-12 form-group">
      {{ form.first_name }}
      <div class="invalid-feedback">
          Please provide a valid city.
      </div>
    </div>
    
    <div class="col-md-12 mb-3">
      {{ form.last_name }}
    </div>
    <div class="col-md-12 mb-3">
      {{ form.email }}
    </div>
    <div class="col-md-12 mb-3">
      {{ form.username }}
    </div>
    <div class="col-md-4 mb-3">
      {{ form.phone_prefix }}
    </div>
    <div class="col-md-8  mb-3">
      {{ form.phone_number }}
    </div>

    <div class="col-md-12 mb-3">
      {{ form.password }}
    </div>
    <div class="col-md-12 mb-3">
      {{ form.password_confirmation }}
    </div>
  </div>



  {% if redirect_field_value %}
  <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
  {% endif %}
  <button class="btn btn-primary" type="submit">{% trans "Next Step" %} &raquo;</button>
</form>

{% endblock %}